<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/57696/calendar-emoji-clipart-md.png">
    {% block link %} {% endblock %}
    <title>{% block title %}Document{% endblock %}</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calendar">Calendar</a></li>
      </ul>
    </header>
    {% block content %}
    {% endblock %}
  </body>
<style>
  ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
  }

  ul li {
    display: inline-block;
    padding-left: 0;
  }
</style>
</html>