{% extends "base.html" %} {% block title %} Home Page {%endblock %} 
{% block content %} 
<h1>
    Home
</h1>
<p>
    The Gregorian calendar is the most common calendar to date. It was derrived from the Julian calendar and was issued to replaced it as of 1582 by Pope Gregory XIII. Its primary goal was to space leap years just far enough apart so that each calendar yea was 365.2422-days long. This is the time it takes the earth to revolve around the sun- a less precise calendar would not take this partial day in to consideration, and the framework of our calendar in reference to the seasons and lunar cycle would shift over time.
    This is refered to as a solar year. The Julian calendar made the assumption that each solar year was 365.25 days long- a small fraction off from reality. 
</p>
<p>
    Many people assume the Gregorian calendar year being marked as "AD" means "after-death", referencing Jesus Christ. While the reference is accurate, the acronym is not. "AD" stand for "Anno Domini"- literally translating to "in the year of the Lord."
</p>
<p>
    learn more <a href="https://en.wikipedia.org/wiki/Gregorian_calendar">here</a>.
</p>

<img >

<style>
    body {
        margin: 0 10% 0 10%;
        text-align: center;
    }
</style>
{% endblock %}